<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1664303124313-126bf7456982?q=80&w=1073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1 class="text-center">Fais la liste de tes films et séries préférés !</h1>
  </div>
</div>


<h1 class="mt-3 ms-3">Mes listes</h1>
<div class="d-flex flex-md-row-reverse me-3">
  <%= link_to "Ajouter une liste", new_list_path, class:"btn btn-primary" %>
</div>
<div class="container mt-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col">
          <div class="card-category shadow-sm" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571947453052-1e72ce0d19b9?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
            <%= link_to list.name, list_path(list) %>
          </div>
      </div>
    <% end %>
  </div>
</div>
